.git
.github
.idea
._*
**/._*
.next
.oracle-storage
.mypy_cache
.ruff_cache
node_modules

.env
.env.*
*.pem
*.key

apps
dist
docs
infra
scripts
test-results
tests

*.md
*.log
.coverage
coverage
playwright.config.ts
vitest.config.ts
vitest.setup.ts
tsconfig.tsbuildinfo
